{% extends 'base.html' %}
{% block title %}  <h2>Attendance Detail</h2> {% endblock %}

{% block body %}

{% load static %}

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
      <div class="card bg-primary-subtle">
        <div class="card-body">

          <table class="table table-primary">
            <tbody>
              <tr>
                <th scope="col">ID.</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.id }}</td>
              </tr>
              <tr>
                <th scope="col">Name.</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.name }}</td>
              </tr>
              <tr>
                <th scope="col">Date</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.date }}</td>
              </tr>
              <tr>
                <th scope="col">Is_Present</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.is_present }}</td>
              </tr>
              <tr>
                <th scope="col">Check_in_time</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.check_in_time }}</td>
              </tr>
              <tr>
                <th scope="col">Check_out_time</th>
                <td colspan="2"></td>
                <td></td>
                <td>{{ attendance.check_out_time }}</td>
              </tr>

            </tbody>
          </table>

          <a href="javascript:history.back()" class="btn btn-dark me-1" role="button">Back</a>
          <a href="/update/{{attendance.id}}/" class="btn btn-primary me-1">Update</a>

          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title fs-5" id="exampleModalLabel"><span class="text-primary-emphasis fw-bold">{{ attendance.name }} ( {{attendance.date}} )</span></p>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <i class="fa-solid fa-circle-exclamation text-danger"></i>
                  <i class="text-danger fw-medium">Are you sure you want to delete ?</i>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>

                  <form action="/delete/{{attendance.id}}/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-sm-3"></div>

  </div>
</div>

{% endblock %}